# ML ASSIGNMENT 3

In [ ]:
import numpy as np
import pandas as pd

# Q1

**LOADING DATASET**

In [ ]:
df=pd.read_csv("USA_Housing.csv")
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05
...,...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,1.060194e+06
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,1.482618e+06
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,1.030730e+06
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,1.198657e+06
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,1.298950e+06

**PREPARING INPUT DATASET**

In [ ]:
x=df.drop(["Price"],axis=1)
x

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

**PREPARING OUTPUT DATASET**

In [ ]:
y=df["Price"]
y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

**SCALING INPUT FEATURES**

In [ ]:
import numpy as np
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()


x_scaled = scaler.fit_transform(x)


x = pd.DataFrame(x_scaled, columns=x.columns)
x

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,1.028660,-0.296927,0.021274,0.088062,-1.317599
1,1.000808,0.025902,-0.255506,-0.722301,0.403999
2,-0.684629,-0.112303,1.516243,0.930840,0.072410
3,-0.491499,1.221572,-1.393077,-0.584540,-0.186734
4,-0.807073,-0.944834,0.846742,0.201513,-0.988387
...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,-0.422467,-1.342732
4996,0.929740,1.030822,-0.408686,0.031337,-1.062747
4997,-0.487235,1.284470,-2.170269,-1.500251,-0.291937
4998,-0.054592,-0.446694,0.141541,1.182053,0.651116
4999,-0.288313,0.015215,-0.194342,0.071855,1.041625

**5 FOLDS**

In [ ]:
from sklearn.model_selection import KFold


kf = KFold(n_splits=5, shuffle=True, random_state=42)


fold_number = 1
for train_index, test_index in kf.split(x):
    X_train, X_test = x.iloc[train_index], x.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    print(f"Fold {fold_number}:")
    print("Training Input (X_train):\n", X_train)
    print("Testing Input (X_test):\n", X_test)
    print("Training Output (y_train):\n", y_train)
    print("Testing Output (y_test):\n", y_test)
    print("\n")

    fold_number += 1

Fold 1:
Training Input (X_train):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0             1.028660            -0.296927                   0.021274
1             1.000808             0.025902                  -0.255506
2            -0.684629            -0.112303                   1.516243
3            -0.491499             1.221572                  -1.393077
4            -0.807073            -0.944834                   0.846742
...                ...                  ...                        ...
4992          1.774998             0.429967                  -2.139436
4993          0.099093            -0.978166                   0.786077
4994          0.420172            -0.689499                  -0.671688
4997         -0.487235             1.284470                  -2.170269
4999         -0.288313             0.015215                  -0.194342

      Avg. Area Number of Bedrooms  Area Population
0                         0.088062        -1.317599
1                        -0.722301         0.403999
2                         0.930840         0.072410
3                        -0.584540        -0.186734
4                         0.201513        -0.988387
...                            ...              ...
4992                      0.031337         0.468700
4993                      1.676375         1.802844
4994                      0.144788        -1.357006
4997                     -1.500251        -0.291937
4999                      0.071855         1.041625

[4000 rows x 5 columns]
Testing Input (X_test):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
8            -0.812190            -0.620459                  -0.591281
12           -2.772779             1.709307                   0.260743
17           -0.624386            -1.199035                  -1.880005
19           -0.609729            -0.239885                   0.103423
23           -0.739966             0.194947                   0.161817
...                ...                  ...                        ...
4981          0.289085             0.175036                   0.322267
4990         -1.488162            -0.529562                   1.130300
4995         -0.752109             1.869297                  -0.845588
4996          0.929740             1.030822                  -0.408686
4998         -0.054592            -0.446694                   0.141541

      Avg. Area Number of Bedrooms  Area Population
8                        -1.362489        -0.682756
12                       -0.714198         0.308005
17                        0.258239        -1.165543
19                        1.222571         0.882508
23                        1.911380        -0.808345
...                            ...              ...
4981                      1.903277        -1.214524
4990                      1.951899        -2.152359
4995                     -0.422467        -1.342732
4996                      0.031337        -1.062747
4998                      1.182053         0.651116

[1000 rows x 5 columns]
Training Output (y_train):
 0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4992    1.568701e+06
4993    1.381831e+06
4994    9.053549e+05
4997    1.030730e+06
4999    1.298950e+06
Name: Price, Length: 4000, dtype: float64
Testing Output (y_test):
 8       7.988695e+05
12      1.042814e+06
17      5.284852e+05
19      1.030591e+06
23      7.439998e+05
            ...
4981    1.203850e+06
4990    4.795006e+05
4995    1.060194e+06
4996    1.482618e+06
4998    1.198657e+06
Name: Price, Length: 1000, dtype: float64


Fold 2:
Training Input (X_train):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
1             1.000808             0.025902                  -0.255506
2            -0.684629            -0.112303                   1.516243
3            -0.491499             1.221572                  -1.393077
4            -0.807073            -0.944834                   0.846742
5             1.087804            -0.997435                  -0.878245
...                ...                  ...                        ...
4994          0.420172            -0.689499                  -0.671688
4995         -0.752109             1.869297                  -0.845588
4996          0.929740             1.030822                  -0.408686
4997         -0.487235             1.284470                  -2.170269
4998         -0.054592            -0.446694                   0.141541

      Avg. Area Number of Bedrooms  Area Population
1                        -0.722301         0.403999
2                         0.930840         0.072410
3                        -0.584540        -0.186734
4                         0.201513        -0.988387
5                         0.047544        -0.948656
...                            ...              ...
4994                      0.144788        -1.357006
4995                     -0.422467        -1.342732
4996                      0.031337        -1.062747
4997                     -1.500251        -0.291937
4998                      1.182053         0.651116

[4000 rows x 5 columns]
Testing Input (X_test):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0             1.028660            -0.296927                   0.021274
6            -0.364518             0.048533                   1.153356
14            0.075845            -0.637960                   1.410540
25           -1.089304             2.330482                   0.323235
30            0.865955            -0.668540                  -0.299389
...                ...                  ...                        ...
4977          0.694134             0.611165                  -1.066784
4983          0.100599             1.759081                  -0.904810
4988         -0.088700             1.088862                  -1.206467
4993          0.099093            -0.978166                   0.786077
4999         -0.288313             0.015215                  -0.194342

      Avg. Area Number of Bedrooms  Area Population
0                         0.088062        -1.317599
6                        -0.462985         2.485197
14                        0.314964        -0.064710
25                        0.282550         0.456575
30                       -0.600747        -0.242706
...                            ...              ...
4977                     -0.608851         0.426320
4983                      0.250135        -0.328592
4988                     -0.754716         0.774134
4993                      1.676375         1.802844
4999                      0.071855         1.041625

[1000 rows x 5 columns]
Training Output (y_train):
 1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
5       1.068138e+06
            ...
4994    9.053549e+05
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
Name: Price, Length: 4000, dtype: float64
Testing Output (y_test):
 0       1059033.558
6       1502055.817
14      1402818.210
25      1453974.506
30      1246830.188
           ...
4977    1518478.033
4983    1194357.406
4988    1275143.168
4993    1381830.779
4999    1298950.480
Name: Price, Length: 1000, dtype: float64


Fold 3:
Training Input (X_train):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0             1.028660            -0.296927                   0.021274
1             1.000808             0.025902                  -0.255506
2            -0.684629            -0.112303                   1.516243
3            -0.491499             1.221572                  -1.393077
4            -0.807073            -0.944834                   0.846742
...                ...                  ...                        ...
4994          0.420172            -0.689499                  -0.671688
4995         -0.752109             1.869297                  -0.845588
4996          0.929740             1.030822                  -0.408686
4998         -0.054592            -0.446694                   0.141541
4999         -0.288313             0.015215                  -0.194342

      Avg. Area Number of Bedrooms  Area Population
0                         0.088062        -1.317599
1                        -0.722301         0.403999
2                         0.930840         0.072410
3                        -0.584540        -0.186734
4                         0.201513        -0.988387
...                            ...              ...
4994                      0.144788        -1.357006
4995                     -0.422467        -1.342732
4996                      0.031337        -1.062747
4998                      1.182053         0.651116
4999                      0.071855         1.041625

[4000 rows x 5 columns]
Testing Input (X_test):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
7             0.920644             1.021386                  -0.365220
18           -0.476208            -0.030319                   0.198842
22           -0.384019            -1.782304                  -1.501099
35            0.543281            -0.481253                  -0.392496
41            0.652598             1.884280                   0.564632
...                ...                  ...                        ...
4969          0.442554            -1.779262                   0.024621
4973          0.953432             0.611750                  -0.389874
4974          0.200544             0.438368                  -1.928608
4989         -1.934676            -0.285048                   0.373395
4997         -0.487235             1.284470                  -2.170269

      Avg. Area Number of Bedrooms  Area Population
7                        -1.265245         0.035552
18                        0.922737        -0.044723
22                        0.266342         0.422729
35                       -1.548872         0.325617
41                        1.878966        -0.341102
...                            ...              ...
4969                      0.387897         0.911968
4973                      0.071855        -1.187182
4974                     -0.787131        -1.717893
4989                      1.149639         0.998365
4997                     -1.500251        -0.291937

[1000 rows x 5 columns]
Training Output (y_train):
 0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4994    9.053549e+05
4995    1.060194e+06
4996    1.482618e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 4000, dtype: float64
Testing Output (y_test):
 7       1.573937e+06
18      1.019426e+06
22      7.188872e+05
35      1.199194e+06
41      1.762215e+06
            ...
4969    1.260814e+06
4973    1.340770e+06
4974    8.013486e+05
4989    8.852050e+05
4997    1.030730e+06
Name: Price, Length: 1000, dtype: float64


Fold 4:
Training Input (X_train):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0             1.028660            -0.296927                   0.021274
3            -0.491499             1.221572                  -1.393077
4            -0.807073            -0.944834                   0.846742
5             1.087804            -0.997435                  -0.878245
6            -0.364518             0.048533                   1.153356
...                ...                  ...                        ...
4995         -0.752109             1.869297                  -0.845588
4996          0.929740             1.030822                  -0.408686
4997         -0.487235             1.284470                  -2.170269
4998         -0.054592            -0.446694                   0.141541
4999         -0.288313             0.015215                  -0.194342

      Avg. Area Number of Bedrooms  Area Population
0                         0.088062        -1.317599
3                        -0.584540        -0.186734
4                         0.201513        -0.988387
5                         0.047544        -0.948656
6                        -0.462985         2.485197
...                            ...              ...
4995                     -0.422467        -1.342732
4996                      0.031337        -1.062747
4997                     -1.500251        -0.291937
4998                      1.182053         0.651116
4999                      0.071855         1.041625

[4000 rows x 5 columns]
Testing Input (X_test):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
1             1.000808             0.025902                  -0.255506
2            -0.684629            -0.112303                   1.516243
10            1.120808             2.134741                  -1.933958
11           -1.688049            -1.493619                   0.477101
13            0.429820             0.950528                  -0.988935
...                ...                  ...                        ...
4979          1.280068            -0.547870                   1.380005
4982         -0.917920            -0.000722                   0.314456
4984         -0.559237            -0.913493                  -0.215541
4987         -0.267796             0.262836                  -0.126592
4991          0.517887            -0.322165                   0.692233

      Avg. Area Number of Bedrooms  Area Population
1                        -0.722301         0.403999
2                         0.930840         0.072410
10                        0.096166         1.114481
11                        0.412208        -0.183334
13                       -1.386800        -0.386652
...                            ...              ...
4979                     -0.697991         2.116280
4982                      1.984313         0.127278
4984                     -0.527814         1.493498
4987                     -0.697991        -1.067005
4991                     -0.689887        -1.221427

[1000 rows x 5 columns]
Training Output (y_train):
 0       1.059034e+06
3       1.260617e+06
4       6.309435e+05
5       1.068138e+06
6       1.502056e+06
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 4000, dtype: float64
Testing Output (y_test):
 1       1.505891e+06
2       1.058988e+06
10      1.707046e+06
11      6.637324e+05
13      1.291332e+06
            ...
4979    1.823498e+06
4982    1.020096e+06
4984    1.211900e+06
4987    1.197073e+06
4991    1.263721e+06
Name: Price, Length: 1000, dtype: float64


Fold 5:
Training Input (X_train):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
0             1.028660            -0.296927                   0.021274
1             1.000808             0.025902                  -0.255506
2            -0.684629            -0.112303                   1.516243
6            -0.364518             0.048533                   1.153356
7             0.920644             1.021386                  -0.365220
...                ...                  ...                        ...
4995         -0.752109             1.869297                  -0.845588
4996          0.929740             1.030822                  -0.408686
4997         -0.487235             1.284470                  -2.170269
4998         -0.054592            -0.446694                   0.141541
4999         -0.288313             0.015215                  -0.194342

      Avg. Area Number of Bedrooms  Area Population
0                         0.088062        -1.317599
1                        -0.722301         0.403999
2                         0.930840         0.072410
6                        -0.462985         2.485197
7                        -1.265245         0.035552
...                            ...              ...
4995                     -0.422467        -1.342732
4996                      0.031337        -1.062747
4997                     -1.500251        -0.291937
4998                      1.182053         0.651116
4999                      0.071855         1.041625

[4000 rows x 5 columns]
Testing Input (X_test):
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
3            -0.491499             1.221572                  -1.393077
4            -0.807073            -0.944834                   0.846742
5             1.087804            -0.997435                  -0.878245
9             1.248279            -1.567095                   1.173171
16            1.043815            -0.917260                   1.224957
...                ...                  ...                        ...
4980          0.664443            -0.189659                  -0.569216
4985          0.613116             0.059568                  -0.447118
4986          0.232459            -0.260636                   0.233599
4992          1.774998             0.429967                  -2.139436
4994          0.420172            -0.689499                  -0.671688

      Avg. Area Number of Bedrooms  Area Population
3                        -0.584540        -0.186734
4                         0.201513        -0.988387
5                         0.047544        -0.948656
9                         1.716893         0.401671
16                       -0.697991         0.358128
...                            ...              ...
4980                     -1.589391         1.870164
4985                     -1.427318         0.787182
4986                      0.290653        -0.135917
4992                      0.031337         0.468700
4994                      0.144788        -1.357006

[1000 rows x 5 columns]
Training Output (y_train):
 0       1059033.558
1       1505890.915
2       1058987.988
6       1502055.817
7       1573936.564
           ...
4995    1060193.786
4996    1482617.729
4997    1030729.583
4998    1198656.872
4999    1298950.480
Name: Price, Length: 4000, dtype: float64
Testing Output (y_test):
 3       1.260617e+06
4       6.309435e+05
5       1.068138e+06
9       1.545155e+06
16      1.556787e+06
            ...
4980    1.406865e+06
4985    1.378938e+06
4986    1.260241e+06
4992    1.568701e+06
4994    9.053549e+05
Name: Price, Length: 1000, dtype: float64

**BMATRIX   R2 SCORE**

In [ ]:
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold, train_test_split

betas = []
predictions = []
r2_scores = []


for train_index, test_index in kf.split(x):
    X_train, X_test = x.iloc[train_index], x.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]


    X_train_with_intercept = np.c_[np.ones(X_train.shape[0]), X_train]
    X_test_with_intercept = np.c_[np.ones(X_test.shape[0]), X_test]


    beta = np.linalg.inv(X_train_with_intercept.T @ X_train_with_intercept) @ X_train_with_intercept.T @ y_train
    betas.append(beta)


    y_pred = X_test_with_intercept @ beta
    predictions.append(y_pred)


    r2 = r2_score(y_test, y_pred)
    r2_scores.append(r2)



best_beta_index = np.argmax(r2_scores)
best_beta = betas[best_beta_index]


X_train_full, X_test_full, y_train_full, y_test_full = train_test_split(x,y, test_size=0.3, random_state=42)


X_train_full_with_intercept = np.c_[np.ones(X_train_full.shape[0]), X_train_full]
X_test_full_with_intercept = np.c_[np.ones(X_test_full.shape[0]), X_test_full]


y_pred_train = X_train_full_with_intercept @ best_beta


y_pred_test = X_test_full_with_intercept @ best_beta


final_r2 = r2_score(y_test_full, y_pred_test)


print(f"Best Beta (𝛽) matrix:\n{best_beta}\n")
print(f"Predicted values on test data:\n{y_pred_test}\n")
print(f"Final R^2 score on test data: {final_r2}")

Best Beta (𝛽) matrix:
[1.23161736e+06 2.30225051e+05 1.63956839e+05 1.21115120e+05
 7.83467170e+02 1.50662447e+05]

Predicted values on test data:
[1309472.34209342 1238698.51255206 1247440.13320666 ... 1458529.22587541
 1482180.096334   1050564.30627078]

Final R^2 score on test data: 0.9147458156636434

# Q2

In [ ]:
X_train, X_temp, y_train, y_temp = train_test_split(x, y, test_size=0.44, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.68, random_state=42)


X_train = np.c_[np.ones(X_train.shape[0]), X_train]
X_val = np.c_[np.ones(X_val.shape[0]), X_val]
X_test = np.c_[np.ones(X_test.shape[0]), X_test]


def gradient_descent(X, y, alpha, iterations):
    m, n = X.shape
    beta = np.zeros(n)
    for _ in range(iterations):
        gradient = (1/m) * (X.T @ (X @ beta - y))
        beta -= alpha * gradient
    return beta


learning_rates = [0.001, 0.01, 0.1, 1]
iterations = 1000


betas = []
validation_r2_scores = []
test_r2_scores = []


for alpha in learning_rates:
    beta = gradient_descent(X_train, y_train, alpha, iterations)
    betas.append(beta)


    y_val_pred = X_val @ beta
    val_r2 = r2_score(y_val, y_val_pred)
    validation_r2_scores.append(val_r2)


    y_test_pred = X_test @ beta
    test_r2 = r2_score(y_test, y_test_pred)
    test_r2_scores.append(test_r2)


    print(f"Learning Rate: {alpha}")
    print(f"Beta (𝛽) matrix:\n{beta}\n")
    print(f"R^2 score on validation set: {val_r2}")
    print(f"R^2 score on test set: {test_r2}\n")


best_beta_index = np.argmax(validation_r2_scores)
best_beta = betas[best_beta_index]
best_val_r2 = validation_r2_scores[best_beta_index]
best_test_r2 = test_r2_scores[best_beta_index]


print("Best Beta (𝛽) matrix based on validation set:")
print(best_beta)
print(f"Best R^2 score on validation set: {best_val_r2}")
print(f"Corresponding R^2 score on test set: {best_test_r2}")

Learning Rate: 0.001
Beta (𝛽) matrix:
[776416.37536817 139193.78459504 105659.67290638  63395.00837487
  23342.20138111  89244.77187829]

R^2 score on validation set: -1.0335339555142435
R^2 score on test set: -0.9634048206675561

Learning Rate: 0.01
Beta (𝛽) matrix:
[1232115.94476263  230612.08499469  165302.14248619  119674.76300683
    3324.2502332   151370.72079493]

R^2 score on validation set: 0.9202011879628708
R^2 score on test set: 0.9133274876797326

Learning Rate: 0.1
Beta (𝛽) matrix:
[1232180.27200919  230645.88389435  165328.94019375  120045.00851908
    2945.02108903  151375.22971285]

R^2 score on validation set: 0.9202207766800663
R^2 score on test set: 0.9133419747998835

Learning Rate: 1
Beta (𝛽) matrix:
[1232180.27200919  230645.88389435  165328.94019375  120045.00851908
    2945.02108903  151375.22971285]

R^2 score on validation set: 0.9202207766800662
R^2 score on test set: 0.9133419747998835

Best Beta (𝛽) matrix based on validation set:
[1232180.27200919  230645.88389435  165328.94019375  120045.00851908
    2945.02108903  151375.22971285]
Best R^2 score on validation set: 0.9202207766800663
Corresponding R^2 score on test set: 0.9133419747998835

# Q3

In [ ]:
import pandas as pd
import numpy as np


column_names = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
                "num_doors", "body_style", "drive_wheels", "engine_location",
                "wheel_base", "length", "width", "height", "curb_weight",
                "engine_type", "num_cylinders", "engine_size", "fuel_system",
                "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
                "city_mpg", "highway_mpg", "price"]

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df = pd.read_csv(url, names=column_names, na_values='?')


df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [ ]:

df.fillna(df.mean(numeric_only=True), inplace=True)
df.fillna(df.mode().iloc[0], inplace=True)


df.dropna(subset=['price'], inplace=True)

df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [ ]:
from sklearn.preprocessing import LabelEncoder




door_mapping = {'two': 2, 'four': 4}
cylinder_mapping = {'two': 2, 'three': 3, 'four': 4, 'five': 5,
                    'six': 6, 'eight': 8, 'twelve': 12}

df['num_doors'] = df['num_doors'].map(door_mapping)
df['num_cylinders'] = df['num_cylinders'].map(cylinder_mapping)


df = pd.get_dummies(df, columns=['body_style', 'drive_wheels'])


le = LabelEncoder()
for column in ['make', 'aspiration', 'engine_location', 'fuel_type']:
    df[column] = le.fit_transform(df[column])


df['fuel_system'] = np.where(df['fuel_system'].str.contains('pfi'), 1, 0)


df['engine_type'] = np.where(df['engine_type'].str.contains('ohc'), 1, 0)


df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,122.0,0,1,0,2,0,88.6,168.8,64.1,...,27,13495.0,True,False,False,False,False,False,False,True
1,3,122.0,0,1,0,2,0,88.6,168.8,64.1,...,27,16500.0,True,False,False,False,False,False,False,True
2,1,122.0,0,1,0,2,0,94.5,171.2,65.5,...,26,16500.0,False,False,True,False,False,False,False,True
3,2,164.0,1,1,0,4,0,99.8,176.6,66.2,...,30,13950.0,False,False,False,True,False,False,True,False
4,2,164.0,1,1,0,4,0,99.4,176.6,66.4,...,22,17450.0,False,False,False,True,False,True,False,False

In [ ]:
from sklearn.preprocessing import StandardScaler


X = df.drop('price', axis=1)
y = df['price']


scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score


X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)


regressor = LinearRegression()
regressor.fit(X_train, y_train)


y_pred = regressor.predict(X_test)


r2 = r2_score(y_test, y_pred)
print(f"R^2 score on test data: {r2}")

R^2 score on test data: 0.804442243576259

In [ ]:
from sklearn.decomposition import PCA


pca = PCA(n_components=0.95)
X_pca = pca.fit_transform(X_scaled)


X_train_pca, X_test_pca, y_train_pca, y_test_pca = train_test_split(X_pca, y, test_size=0.3, random_state=42)


regressor_pca = LinearRegression()
regressor_pca.fit(X_train_pca, y_train_pca)


y_pred_pca = regressor_pca.predict(X_test_pca)


r2_pca = r2_score(y_test_pca, y_pred_pca)
print(f"R^2 score on test data after PCA: {r2_pca}")

R^2 score on test data after PCA: 0.7637201443366051